// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.btn-subscription {
  margin: 10px 0;
}

.match {
  background-color: #ffc;
  padding: 3px;
  border-radius: 3px;
}